
/* General Styles */
/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

/* Navbar Styles */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.5rem;
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  width: 95%;
  margin: 1rem auto;
  height: auto;
}

/* Brand on top for mobile and tablet */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column-reverse;
  }

  .navbar-brand {
    margin-bottom: 2rem;
    margin-left: 3rem;
  }
}

/* Navbar Responsive Styles */
@media (min-width: 769px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}


.navbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: -1;
  backdrop-filter: blur(5px);
}

.navbar::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 70%);
  opacity: 0.5;
  z-index: -1;
  animation: glow 10s ease-in-out infinite;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar-brand::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.navbar-brand:hover::before {
  transform: scaleX(1);
}

.navbar-brand::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 100%);
  transform: translateX(-100%);
  animation: brandAnimation 3s infinite linear;
}

.navbar-brand-icon {
  margin-right: 0.5rem;
  font-size: 2rem;
  animation: iconAnimation 3s infinite;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 2rem;
  position: relative;
  overflow: hidden;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

.nav-link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 100%);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover::after {
  animation: linkAnimation 3s infinite linear;
}

.nav-link-icon {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  animation: iconAnimation 3s infinite;
}

.navbar__toggler {
  display: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

.navbar__toggler-icon {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.navbar__toggler-icon::before,
.navbar__toggler-icon::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.navbar__toggler-icon::before {
  top: -8px;
}

.navbar__toggler-icon::after {
  bottom: -8px;
}

.navbar__toggler.active .navbar__toggler-icon {
  transform: rotate(45deg);
}

.navbar__toggler.active .navbar__toggler-icon::before {
  top: 0;
  transform: rotate(90deg);
}

.navbar__toggler.active .navbar__toggler-icon::after {
  bottom: 0;
  transform: rotate(90deg);
}
@media (max-width: 768px) {
  .navbar__nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    padding: 1rem 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .navbar__nav.show {
    transform: translateY(0);
  }

  .navbar__nav-item {
    margin-left: 0;
    text-align: center;
    margin-bottom: 1rem;
  }

  .navbar__toggler {
    display: block;
  }
}

/* Animations */
@keyframes glow {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}


@keyframes linkAnimation {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }

    
  }

/* Toggle Switch Styles */
.custom-switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 0;
}

/* Toggle Switch Responsive Styles */
@media (max-width: 768px) {
  .custom-switch-container {
    height: 60px;
    margin-top: 10px;
  }

  .custom-switch-label {
    width: 60px;
    height: 60px;
  }

  .custom-switch-inner,
  .custom-switch-switch {
    width: 40px;
    height: 40px;
  }

  .custom-switch-inner i,
  .custom-switch-switch i {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .custom-switch-container {
    height: 50px;
  }

  .custom-switch-label {
    width: 50px;
    height: 50px;
  }

  .custom-switch-inner,
  .custom-switch-switch {
    width: 30px;
    height: 30px;
  }

  .custom-switch-inner i,
  .custom-switch-switch i {
    font-size: 16px;
  }
}

/* Input */
.custom-switch-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Label */
.custom-switch-label {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  background: linear-gradient(90deg, #ffd89b, #19547b);
  border-radius: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background 0.5s ease;
  overflow: hidden;
}

/* Inner Circle */
.custom-switch-inner {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  background: radial-gradient(circle at 30px 30px, #fff4d9, #ffebc1);
  border-radius: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Switch */
.custom-switch-switch {
  position: absolute;
  top: 10px;
  left: 92px;
  width: 60px;
  height: 60px;
  background: radial-gradient(circle at 30px 30px, #274c77, #193c5d);
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateX(0);
  transition: transform 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icons */
.custom-switch-inner i,
.custom-switch-switch i {
  font-size: 30px;
  transition: opacity 0.5s ease;
}

.custom-switch-inner i {
  color: #ffa500;
  opacity: 1;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.custom-switch-switch i {
  color: #d9d9d9;
  opacity: 0;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Checked State */
.custom-switch-input:checked + .custom-switch-label {
  background: linear-gradient(90deg, #19547b, #ffd89b);
}

.custom-switch-input:checked + .custom-switch-label .custom-switch-inner {
  transform: translateX(80px);
}

.custom-switch-input:checked + .custom-switch-label .custom-switch-inner i {
  opacity: 0;
}

.custom-switch-input:checked + .custom-switch-label .custom-switch-switch {
  transform: translateX(-80px);
}

.custom-switch-input:checked + .custom-switch-label .custom-switch-switch i {
  opacity: 1;
}

 
